.bappa-icon {
    height: 15vmin;
}

.gray-out {
    opacity: 0.5;
}

.loading {
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;    /* Vertically center */
  height: 100vh;    
}